<div class="div1">

    <div class="header1" style="text-align: left;">Running Id Details

        <button style="background-color: cornflowerblue;float:right;margin-top:5px;">Save</button>

        <button class="btn">Close RunId</button>

        <button class="btn">Reset</button>

        <button class="btn">Retrieve</button>



    </div>



    <div class="container-flex">

        <table>

            <tr>

                <td>Aim Grade :</td>

                <td><input type="text"></td>

                <td>Heat No:</td>

                <td><input type="text"></td>

                <td>Aim Grade :</td>

                <div class="checkbox" style="margin-top: 15px;"><input type="checkbox"></div>

                <td>Caster Date:</td>

                <td><input type="text"></td>

            </tr>

            <tr>



                <td>Aim Grade :</td>



                <td><input type="text"></td>



                <td>Heat No:</td>



                <td><input type="text"></td>

                <td>Heat No:</td>



                <td><input type="text"></td>






            </tr>

        </table>

    </div>

   

</div>

<div class="header1" style="text-align: left;">Planned Schedule</div>

<div>
    <app-plannedschedule></app-plannedschedule>
    <div class="header1" style="text-align: left;">Heats Waiting for Casting</div>
    <app-heatcasting></app-heatcasting>
</div>
