.div1{

    margin-left: 5px;

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    height: 200px;

    margin-top: 5px;

    margin-bottom: 5px;

}



.div3{

    height: 200px;

    margin-top: 5px;

}

table tr td{    

    padding-top: 10px;

    font-size: 12px;

    font-family: sans-serif;

    font-weight: bolder;

    margin-bottom: 5px;

}

.header1{

    color:blue;

    background-color: gainsboro;;

    height: 40px;

    line-height: 40px;

}

.btn{

    margin-top: 5px;

    float: right;

}