<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<div class="casterParent">
    <div class="title">Heat Production</div>
    <div class="body-area">
        <!-- <p>HEAT PRODUCTION</p> -->
        <!-- <ul class="d-flex">
            <li>
                <button>Grade Finalize</button>
            </li>
            <li>
                <button>Grade Finalize</button>
            </li>
        </ul> -->
        <div class="flex-container formDiv">
            <table >
                <tr>
                    <td>Aim Grade :</td>
                    <td><input class="filled" type="text"></td>
                    <td>Heat No:</td>
                    <td><input type="text"></td>
                    <td>Caster Date:</td>
                    <td><input class="filled" type="text"></td>
                </tr>
                <tr>
                    <td>Aim Grade :</td>
                    <td><input class="filled" type="text"></td>
                    <td>Heat No:</td>
                    <td><input type="text"></td>
                    <td>Caster Date:</td>
                    <td><input class="filled" type="text"></td>
                </tr>
                <tr>
                    <td>Aim Grade :</td>
                    <td><input class="filled" type="text"></td>
                    <td>Heat No:</td>
                    <td><input type="text"></td>
                    <td>Caster Date:</td>
                    <td><input class="filled" type="text"></td>
                </tr>
                <tr>
                    <td>Aim Grade :</td>
                    <td><input class="filled" type="text"></td>
                    <td>Heat No:</td>
                    <td><input type="text"></td>
                    <td>Caster Date:</td>
                    <td><input class="filled" type="text"></td>
                </tr>
                <tr>
                    <td>Aim Grade :</td>
                    <td><input class="filled" type="text"></td>
                    <td>Heat No:</td>
                    <td><input type="text"></td>
                    <td>Caster Date:</td>
                    <td><input class="filled" type="text"></td>
                </tr>
                <tr>
                    <td>Aim Grade :</td>
                    <td><input class="filled" type="text"></td>
                    <td>Heat No:</td>
                    <td><input type="text"></td>
                    <td>Caster Date:</td>
                    <td><input class="filled" type="text"></td>
                </tr>
                <tr>
                    <td>Aim Grade :</td>
                    <td><input class="filled" type="text"></td>
                    <td>Heat No:</td>
                    <td><input type="text"></td>
                    <td>Caster Date:</td>
                    <td><input class="filled" type="text"></td>
                </tr>
                <tr>
                    <td>Remarks :</td>
                    <td colspan="5">
                        <textarea></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                    <td>Table Change:</td>
                    <td><input type="checkbox"></td>
                </tr>
            </table>
    
        </div>
        <div class="samplegen" style="margin-left:8px">
            <div class="sampletitle" style="margin-bottom:5px;">Sample generation 
                <span class="material-symbols-outlined">

                    print
    
                    </span>
            </div>
            <button type="button" class="button1" style="margin-bottom:5px;">Generate Sample</button>&nbsp;
            <div class="scan">
              <div class="text">
                SC0B5054561
              </div>
            </div>
          </div>

          <!-- <div class="Abnormality">          
            <div class="titleAb">
               Abnormality
            </div>
            <div class="form-div">
                <input type="radio">Yes
                <input type="radio">No
            </div>
          </div> -->

    </div>
    
    
</div>